button, input {
    border: 0
}

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, sans-serif;
    font-size: .32rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box
}

body, html {
    background: #f8f8f8;
    margin: 0
}

a, a:hover {
    text-decoration: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}

.index-title, .index-title a, .index-title p {
    line-height: 1.173333rem
}

.clearfix {
    clear: both
}

.container {
    width: 100%;
    max-width: 10rem;
    margin: 0 auto;
    position: relative
}

.dis-block {
    display: block
}

.hide, .mask {
    display: none
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

input {
    background-image: none
}

li, ul {
    list-style: none
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2000000', endColorstr='#b2000000');
    z-index: 3
}

input:-moz-placeholder {
    color: #c3c3c3
}

input:-ms-input-placeholder {
    color: #c3c3c3
}

input::-webkit-input-placeholder {
    color: #c3c3c3
}

.bg-gray {
    background: #f6f6f6
}

.common-img, img {
    display: block;
    width: 100%
}

.common-img img {
    display: block
}

.index-title {
    border-bottom: .026667rem solid #bdbdbd;
    padding-left: .266667rem;
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.index-title:before {
    background: #44d1ff;
    content: "";
    width: .106667rem;
    height: 1.173333rem;
    position: absolute;
    left: 0
}

.index-title p {
    font-size: .426667rem;
    color: #333
}

.index-title a {
    display: block;
    color: #0daff0;
    padding-right: .266667rem
}

.common-select {
    text-align: center
}

.common-select a {
    display: inline-block;
    border: 1PX solid #a0a0a0;
    padding: 0 .533333rem;
    margin: .133333rem;
    color: #5f5f5f;
    font-size: .32rem;
    line-height: .8rem;
    border-radius: .133333rem;
    min-width: 2.666667rem;
    text-align: center
}

.common-select a.active {
    border-color: #00a0e9;
    color: #00a0e9;
    background: url(../images/check1.png) right bottom no-repeat;
    background-size: .533333rem
}

.regular-radio {
    display: none
}

.regular-radio + label {
    display: inline-block;
    position: relative;
    padding-left: .666667rem;
    margin-right: .8rem
}

.regular-radio + label:before {
    content: ' ';
    -webkit-appearance: none;
    background-color: #fafafa;
    border: .026667rem solid #999;
    width: .4rem;
    height: .4rem;
    border-radius: .066667rem;
    position: absolute;
    left: 0;
    top: .066667rem
}

.regular-radio:checked + label:after {
    content: '\2714';
    width: .4rem;
    position: absolute;
    top: .066667rem;
    left: 0;
    color: #0085d0;
    font-size: .373333rem;
    text-align: center;
    line-height: .4rem
}

.ewm-pic {
    width: 2.293333rem;
    height: 2.293333rem;
    margin: .466667rem auto 0
}

.ewm-pic img {
    width: 100%;
    height: 100%
}

a.btn {
    display: inline-block;
    line-height: .933333rem;
    padding: 0 .533333rem;
    text-align: center;
    background: #267bda;
    color: #fff;
    border-radius: .066667rem;
    margin: 0 .066667rem
}

a.btn-r {
    border-radius: .133333rem
}

a.btn-border {
    background: #fff;
    border: .026667rem solid #9c9c9c;
    color: #333
}

a.btn-middle {
    line-height: .8rem;
    padding: 0 .133333rem
}

a.footer-btn-blue, a.footer-btn-gray,a.footer-btn-rose {
    display: block;
    line-height: 1.173333rem;
    padding: 0 .133333rem;
    font-size: .4rem
}

a.btn-border-blue {
    border-color: #0cb0ef;
    color: #0cb0ef
}

a.btn-border-rose {
    border-color: #e40077;
    color: #e40077
}

a.footer-btn-blue {
    background: #0daff0;
    color: #fff
}

a.footer-btn-rose {
    background: #e40077;
    color: #fff
}
a.footer-btn-gray {
    background: #ccc;
    color: #999
}

.common-footer-fix, .common-navbar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox
}

a.btn-lingtblue {
    background: #0daff0;
    color: #fff
}

.arrow-left, .arrow-refresh {
    color: #0085d0;
    line-height: 1.173333rem;
    font-size: .426667rem
}

.common-navbar, .common-navbar-wrap {
    width: 10rem;
    height: 1.2rem
}

.common-footer-fix, .common-footer-wrap {
    width: 10rem;
    height: 1.173333rem
}

.common-navbar {
    left: auto;
    right: auto;
    z-index: 10;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1PX solid #e6e6e6;
    background: #fff
}

.common-navbar-footer {
    border-top: 1PX solid #7f7f7f
}

.common-footer-fix {
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    padding-left: .133333rem;
    border-top: 1PX solid #d3d3d3
}

.navbar-wrap-footer .common-navbar {
    bottom: 0;
    background: #fff;
    border-top: 1PX solid #7f7f7f
}

.navbar-wrap-footer .common-navbar-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.navbar-left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.arrow-left {
    display: block;
    margin-left: .133333rem;
    padding-left: .533333rem;
    position: relative
}

.arrow-left:before {
    content: "";
    width: .533333rem;
    height: 1.173333rem;
    background-color: #0085d0;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: .533333rem;
    -webkit-mask-image: url(../images/return.svg);
    position: absolute;
    left: 0
}

.arrow-refresh {
    margin-left: .266667rem
}

.navbar-right {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.navbar-right a {
    padding: .133333rem .266667rem .133333rem .133333rem;
    display: block;
    color: #333;
    position: relative;
    text-align: center
}

.navbar-title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 50%;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: .426667rem;
    font-weight: 400
}

.box-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    text-align: center;
    font-size: .24rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.box-flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.common-list-info {
    padding: .133333rem;
    line-height: .666667rem
}

.common-list-info dt {
    float: left;
    width: 2.4rem;
    padding-left: .266667rem;
    line-height: .666667rem
}

.input-com, .item-select {
    width: 100%;
    display: block
}

.common-list-info dd {
    margin-left: 2.4rem;
    line-height: .666667rem
}

.input-com {
    line-height: .666667rem;
    padding-left: .133333rem
}

.border-b {
    border-bottom: 1PX solid #d3d3d3
}

.border-b-gray {
    border-bottom: 1PX solid #bababa
}

.border-b-big {
    border-bottom: .093333rem solid #f1f1f1
}

.item-select {
    position: relative
}

.imtips, .index-4f {
    position: absolute
}

.item-select:before {
    position: absolute;
    right: 0;
    content: ">";
    color: #d2d2d2;
    font-size: .533333rem;
    line-height: .533333rem
}

.btn-footer, .dl-list {
    font-size: .373333rem
}

.btn-footer {
    display: block;
    line-height: 1.36rem;
    width: 50%;
    text-align: center;
    color: #666
}

.flex-h, .list-order-flex {
    display: -webkit-box;
    display: -ms-flexbox
}

.btn-footer-blue {
    background: #00a0e9;
    color: #fff
}

.info-img {
    text-align: center;
    padding-top: 1.6rem;
    padding-bottom: .266667rem
}

.info-img img {
    width: 1.6rem;
    text-align: center;
    margin: 0 auto
}

.list-order {
    background: #fff;
    border-top: 1PX solid #bababa;
    padding: .133333rem
}

.list-order-flex {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.list-a-box {
    background: #fff;
    padding: .266667rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.list-a-box a {
    border: .026667rem solid #0076ff;
    border-right: 0;
    color: #2f2f2f;
    display: block;
    height: .773333rem;
    padding: 0 .266667rem;
    line-height: .773333rem
}

.list-a-box a:last-child {
    border-right: .026667rem solid #0076ff
}

.list-a-box a.active {
    background: #0076ff;
    color: #fff
}

.list-order-img {
    width: 1.946667rem;
    height: 1.946667rem;
    overflow: hidden
}

.phone-bg {
    background: url(../images/pnone.png) right center no-repeat;
    background-size: .533333rem;
    line-height: .533333rem;
    display: block
}

.dl-list {
    border-top: 1PX solid #d6d6d6;
    border-bottom: .04rem solid #d6d6d6;
    margin-bottom: .133333rem;
    padding: .133333rem
}

.dl-list dt {
    float: left;
    width: 2.4rem;
    padding-left: .133333rem
}

.navbar-left-w {
    width: 100%
}

.address-bg {
    background: url(../images/address.png) right center no-repeat;
    background-size: .28rem;
    display: block;
    color: #323232
}

.head-notice:before, .head-share:before {
    content: "";
    width: .533333rem;
    height: .533333rem;
    background-color: #666;
    display: block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center
}

.border-t {
    border-top: 1PX solid #c6c6c6
}

.border-b1 {
    border-bottom: 1PX solid #c6c6c6
}

.input-border {
    border: 1PX solid #c6c6c6;
    line-height: .666667rem
}

.index-title-center {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.flex-h, .index-4f {
    -webkit-box-align: center
}

.head-notice:before {
    -webkit-mask-size: .533333rem;
    -webkit-mask-image: url(../images/mail.svg)
}

.head-share:before {
    -webkit-mask-size: 100%;
    -webkit-mask-image: url(../images/share.svg)
}

.imtips {
    background: #f84848;
    top: .066667rem;
    right: .133333rem;
    min-width: .533333rem;
    border-radius: 50%;
    color: #fff
}

.box-list-order {
    margin: .266667rem;
    background: #fff;
    padding: .266667rem;
    border: 1PX dashed #0085d0
}

.box-list-order li {
    font-size: .32rem
}

.box-list-order li span {
    line-height: .6rem
}

.info-ts {
    font-size: .293333rem;
    color: #0daff0;
    line-height: .533333rem;
    padding-bottom: .133333rem
}

.form-label {
    display: inline-block;
    font-size: .373333rem
}

.flex-h {
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left
}

.ChoseList, .Choseder li, .boxbg, .index-4f a, .index-f-w, .otherTop h2 {
    text-align: center
}

.index-4f {
    width: 10rem;
    /*top: 3.733333rem;*/
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.index-4f a {
    display: block;
    width: 25%
}

.index-4f img {
    width: 1.173333rem;
    margin: 0 auto
}

.index-4f a p {
    color: #333
}

.index-lianhao {
    margin-top: 1.6rem
}

.input-f-index {
    width: .546667rem;
    height: .546667rem;
    border: 1PX solid #d3d3d3;
    padding-left: .066667rem;
    margin: 0 .04rem;
    text-align: center;
}

.index-f-w {
    width: .266667rem;
    font-size: .4rem
}

.Choseder {
    margin-top: .133333rem;
    border-bottom: 1PX solid #d3d3d3;
    padding-bottom: .266667rem;
    height: .933333rem;
}

.Choseder li {
    float: left;
    width: 55%
}

.Chodertitle > h2, .ListAddr > a, .unlimited > a {
    border: .013333rem solid #e7e7e7;
    background-color: #e7e7e7;
    width: 86%;
    height: .693333rem;
    line-height: .693333rem;
    text-align: center;
    margin: 0 auto;
    border-radius: .08rem;
    font-size: .32rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400
}

.li_arrow, .shaped {
    display: inline-block;
    vertical-align: middle;
    width: .16rem;
    height: .16rem;
    margin-left: .053333rem;
    margin-top: -.026667rem;
    background: url(../images/arrow.png) center bottom no-repeat;
    background-size: .16rem
}

.Leftbg, .boxbg {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
    display: none
}

.ChoseNum {
    position: relative
}

.ChoseList, .boxbg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 99
}

.boxbg {
    width: 100%;
    height: 5.333333rem;
    background: rgba(0, 0, 0, .6)
}

.ListAddr {
    padding: .066667rem
}

.ListAddr > a {
    float: left;
    width: 20%;
    margin: .133333rem .2rem;
    border: 1PX solid #c1c1c1;
    background-color: #fff;
    color: #333;
    font-size: .32rem;
    overflow: hidden
}

.unlimited > a {
    width: 21%;
    background: #fff;
    margin: .133333rem
}

.ListBrand > a, .ListPay > a, .ListTao > a {
    width: 27.3%;
    margin: .133333rem .2rem
}

.ListAddr > a.curr, .orderSex .curr, .unlimited > a.curr {
    background: url(../images/check1.png) right bottom no-repeat;
    background-size: .453333rem
}

.Chodertitle.curr, .ListAddr > a.curr, .unlimited > a.curr {
    color: #0daff0;
    border-color: #0daff0;
    background-color: #fff
}

.common-tabs, .list-phone li {
    border-bottom: 1PX solid #d3d3d3
}

.Numberbtn {
    height: 1.2rem
}

.Numberbtn button {
    float: left;
    width: 50%;
    height: 1.2rem;
    line-height: 1.2rem;
    background: #e7e7e7;
    font-size: .426667rem
}

.Leftbg, .ListScreen {
    height: 100%;
    top: 0;
    position: fixed
}

.confirm {
    color: #fff;
    background-color: #0daff0 !important
}

.ListScreen {
    width: 85%;
    right: -105%;
    background: #fff;
    z-index: 999;
    padding: 0
}

.Leftbg {
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 998
}

.otherTop, .otherTop button, .otherTop span {
    height: 1.066667rem;
    line-height: 1.066667rem;
    font-size: .4rem
}

.otherTop h2 {
    font-weight: 400;
    line-height: 1.066667rem;
    font-size: .4rem
}

.otherTop button, .otherTop span {
    width: 1.733333rem;
    float: left
}

.otherTop button {
    float: right;
    font-size: .4rem;
    color: #0085d0;
    background: 0 0
}

.otherTit > a, .wap-button-img {
    float: left;
    text-align: center
}

.otherTit {
    padding: .133333rem .266667rem;
    border-top: 1PX solid #d3d3d3;
    font-size: .346667rem
}

.otherTit > a {
    width: 25%;
    color: #333;
    overflow: hidden
}

.others {
    border-top: .013333rem solid #d3d3d3;
    padding-top: .133333rem
}

.others button {
    width: 90%;
    height: .906667rem;
    line-height: .906667rem;
    border-radius: .106667rem;
    margin-left: 5%
}

.Numberbtn .reseted {
    background: #0daff0 !important;
    color: #fff
}

.wap-button-img {
    width: 100%;
    height: 1.2rem;
    color: #666;
    padding-top: .186667rem;
    background-color: #f9f9f9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.wap-button-img .kefu-svg {
    margin: 0 auto;
    width: .533333rem;
    height: .533333rem;
    display: block;
    background-color: #0085d0;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    -webkit-mask-image: url(../images/kefu.svg)
}

.arrow_d, .arrow_r, .arrow_up {
    width: .32rem;
    height: .213333rem;
    display: inline-block;
    margin: -.04rem 0 0 .026667rem;
    background: url(../images/arr_down.png) center center no-repeat;
    -webkit-background-size: .32rem;
    background-size: .32rem;
    vertical-align: middle
}

.arrow_up {
    background: url(../images/arr_top.png) center center no-repeat;
    -webkit-background-size: .32rem;
    background-size: .32rem;
    margin: -.04rem 0 0 .053333rem
}

.list-phone li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: .133333rem;
    padding-top: .133333rem;
    margin-bottom: .133333rem
}

.list-phone-txt span {
    padding: 0 .04rem;
    line-height: .8rem
}

.list-phone a {
    width: 1.333333rem;
    text-align: center;
    margin: 0 .133333rem
}

.list-phone-txt2 {
    width: 20%;
    text-align: center
}

.card-p-info {
    color: #0085d0;
    font-size: .266667rem;
    padding-left: 2.133333rem
}

.common-tabs {
    display: flex;
    border-top: 1PX solid #d3d3d3;
    width: 100%
}

.common-tabs a {
    line-height: 1.066667rem;
    width: 50%;
    display: block;
    text-align: center;
    font-size: .426667rem;
    color: #333
}

.common-tabs a.active {
    color: #31adfc;
    border-bottom: .08rem solid #31adfc
}

.ma-w {
    width: 5rem;
    margin: 1.066667rem auto .266667rem
}

.ma-txt {
    margin-top: .8rem
}

.ma-txt p {
    padding-left: 3.2rem
}

.ma-txt span {
    line-height: .933333rem
}

.ma-txt .ma-txt-name {
    /*width: 1.6rem;*/
    display: inline-block;
    text-align: right
}

.download-tip, .tc {
    text-align: center
}

.mescroll {
    position: fixed;
    top: 8.8rem;
    bottom: 1px;
    height: auto;
    width: 10rem;
    margin: 0 auto;
    overflow-y: auto;
}

.mescroll-totop {
    bottom: .933333rem
}

.download-tip {
    z-index: 9900;
    position: fixed;
    top: .266667rem;
    left: 0;
    width: 100%;
    height: .32rem;
    line-height: .32rem;
    font-size: .16rem;
    background-color: rgba(80, 175, 85, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b250af55', endColorstr='#b250af55');
    color: #fff;
    -webkit-transition: top .3s;
    transition: top .3s
}

.news-list li {
    padding: .213333rem;
    border-bottom: .013333rem solid #eee
}

.news-list .new-content {
    font-size: .186667rem;
    margin-top: .08rem;
    margin-left: .133333rem;
    color: #666
}

.mescroll-downwarp .downwarp-progress, .mescroll-upwarp .upwarp-progress {
    width: .64rem;
    height: .64rem;
    border: none;
    margin: auto;
    background-image: url(../images/mescroll-progress.jpg);
    background-size: contain
}

.mescroll-rotate {
    -webkit-animation: animScale .6s linear, mescrollRotate .6s linear infinite;
    animation: animScale .6s linear, mescrollRotate .6s linear infinite
}

@-webkit-keyframes animScale {
    0% {
        -webkit-transform: scale(1, 1) rotate(0)
    }
    50% {
        -webkit-transform: scale(1.2, 1.2) rotate(180deg)
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(360deg)
    }
}

@keyframes animScale {
    0% {
        transform: scale(1, 1) rotate(0)
    }
    50% {
        transform: scale(1.2, 1.2) rotate(180deg)
    }
    100% {
        transform: scale(1, 1) rotate(360deg)
    }
}

.fs20 {
    font-size: .266667rem
}

.fs22 {
    font-size: .293333rem
}

.fs28 {
    font-size: .373333rem
}

.fs34 {
    font-size: .453333rem
}

.fs18 {
    font-size: .24rem
}

.mb20 {
    margin-bottom: .266667rem
}

.mt20 {
    margin-top: .266667rem
}

.p20 {
    padding: .266667rem
}

.p10 {
    padding: .133333rem
}

.pt10 {
    padding-top: .133333rem
}

.pb10 {
    padding-bottom: .133333rem
}

.pl20 {
    padding-left: .266667rem
}

.plb10 {
    padding: 0 .133333rem
}

.mt160 {
    margin-top: 2.133333rem
}

.ml40 {
    margin-left: .533333rem
}

.ml20 {
    margin-left: .266667rem
}

.font-red {
    color: #eb1749
}

.font-rose {
    color: #eb0080
}

.font-gray {
    color: #cbcbcb
}

.font-blue {
    color: #0daff0
}

.font-bluedark {
    color: #006cff
}

.font-333 {
    color: #333
}

.font-6 {
    color: #666
}

.bg-white {
    background: #fff
}

.bg-gray2 {
    background: #f0f3f8
}

.tr {
    text-align: right
}

.lh40 {
    line-height: .533333rem
}

.lh50 {
    line-height: .666667rem
}

.w-100per {
    width: 100%
}

.w-50per {
    width: 50%
}

.w-20 {
    width: 20%
}

.w200 {
    width: 2.666667rem
}

#nav {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5 transparent #e5e5e5 transparent;
}

#nav a {
    background: url(../images/right.png) no-repeat right center;
}

#nav a {
    float: left;
    padding: 5px 15px;
    color: #999;
    background: url(../images/right.png) no-repeat right center;
}

#nav .on {
    /* font-size: 14px; */
    color: #0085d0;
}

#nav a img {
    width: 15px;
    margin-right: 8px;
    vertical-align: sub;
}

.w-30 {
    width: 40%!important;
}

.mr20 {
    margin-right: .266667rem!important;
}

.clear-index {
    width: 0.48rem;
    height: 0.48rem;
    background-image: url(../images/clear.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: .25rem;
    display: block;
}

.text-center{
    text-align: center;
    padding: 5px 0;
}

.border-bottom {
    border-bottom: 1px solid #e9e9e9;
}

.header {
    height: 45px;
    background-color: #fff;
    position: fixed;
    max-width: 640px;
    width: 100%;
    z-index: 98;
}

.header .icon-main-set, .header .icon-main-back {
    position: absolute;
    left: 0;
    top: 0;
}

.icon-main-back {
    background-position: 0 -135px;
}

[class*="icon-main-"] {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(../images/icon_main2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header h1 {
    text-align: center;
    font-size: 18px;
    line-height: 45px;
}

.arrow-right{
    content: "";
    display: block;
    width: 0.35rem;
    height: 0.35rem;
    border: 1px solid #c8c8c8;
    color: #bdbdbd;
    border-top: 0 none;
    border-left: 0 none;
    transform: rotate(315deg);
    position: absolute;
    right: .4rem;
    display: block;
    top: 35%;
}